<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mimic - CloudBees Scenario Manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <script src="{{ url_for('static', path='/htmx.min.js') }}" defer></script>
    <script src="{{ url_for('static', path='/script.js') }}" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="centered">
        {% block content %}{% endblock %}
    </div>
    <div class="bg-gradient"></div>
    {% block extra_body %}{% endblock %}
</body>
</html>